.loginContainer {
    border: 5px solid black;
    width: 20em;
    margin: auto;
    padding: 1em;
    animation: fadeIn 2s infinite alternate-reverse;
}

.loginContainer  * {
    padding: 10px;
}

.loginContainer input,label {
    display: block;
    margin: auto;
}

.loginContainer h2 {
    margin: 0;
}


